.content {
  margin-top: 60px;
}

.alert {
  strong {
    display: block;
    margin-bottom: 5px;
  }

  ul {
    margin-top: 10px;
  }
}

form {
  .error {
    label {
      color: $red;
    }

    .help-inline {
      color: $red;
    }
  }
}
